{% extends 'base.html' %}

{% block title%}About{% endblock %}

{% block content%}


<section class="mt-auto" style="padding-top: 7em; background-color: #F9E0D9;" >
    <div class="container">
        <div class="row mt-auto p-3">
            <h1 class="text-center" style="font-family: 'Titillium Web';">About ABC Hospitals - India</h1>
            <p style="font-family: 'sans-serif'; font-size: 20px;">ABC Hospitals is one of the topmost healthcare providers in India. Our hospitals are renowned for their medical infrastructure and expertise as we have some of the finest doctors in the country, supported by ultra-modern technologies, research-based care in a warm & comforting environment. Our trusted doctors and a team of specialists work closely together to provide the best of healthcare.</p>
        </div>
    </div>
</section>


<section id="home-section" class="me-auto" style="background-color: #F9E0D9;">
    <div class="container">
        <div class="row">

            <div class="col-10 col-md-10 col-lg-5 p-5 mt-5 ms-auto me-auto" style="background-color: #ffb3b3 ">
                <h3 class="text-center">Excellence</h3>
                <p>Surpassing current benchmarks constantly by continually challenging our ability and skills to take the organization to greater heights</p>
                <footer>
                    <p class="text-end">Albert Einstein</p>
                </footer>
            </div>
            
            
            <div class="col-10 col-md-10 col-lg-5 p-5 mt-5 ms-auto me-auto" style="background-color: #ffb3b3; ">
                <h3 class="text-center" >Respect</h3>
                <p>Treating people with utmost dignity, valuing their contributions and fostering a culture that allow each individual to rise to their fullest potential</p>
                <footer>
                    <p class="text-end">Mahatma Gandhi</p>
                </footer>
            </div>

        </div>

        <div class="row" >

            <div class="col-10 col-md-10 col-lg-5 p-5 mt-5 ms-auto me-auto" style="background-color: #ffb3b3; ">
                <h3 class="text-center">Compassion</h3><br>
                <p>Going beyond boundaries with empathy and care</p>
                <footer>
                    <p class="text-end">Mother Teresa</p>
                </footer>
            </div>
            

            
            <div class="col-10 col-md-10 col-lg-5 p-5 mt-5 ms-auto me-auto" style="background-color: #ffb3b3; ">
                <h3 class="text-center" >Passion</h3><br>
                <p>Going the extra mile willingly, with a complete sense of belongingness and purpose while adding value to our stakeholders</p>
                <footer>
                    <p class="text-end">Steve Jobs</p>
                </footer>
            </div>             
        </div>
    </div>
</section>
<section style="background-color: #F9E0D9;">
    <div class="container" >

    </div><br><br><br><br>
</section>
{% endblock %}

